ui-drawer {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	right: 100%;
	bottom: 0;
	width: 300px;
	background-color: white;
	z-index: 1110;
	transition: 300ms ease-in-out;
}
	ui-drawer.open {
		transform: translateX(100%);
		box-shadow: 0 16px 32px rgba(0,0,0,0.15), 0 16px 48px rgba(0,0,0,0.2);
	}
	ui-drawer > .toolbar-offset {
		flex: 0 0 auto;
        height: 56px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid rgba(0,0,0,0.1);
        transition: 300ms ease-in-out;
	}
		ui-drawer > .toolbar-offset img {
			height: 36px;
		}
	ui-drawer > .drawer-content {
		flex: 1;
		overflow: auto;
	}
	ui-drawer.ng-leave {
		transition: 300ms ease-in-out;
	}
	ui-drawer.ng-leave-active {
		transform: translateX(0);
		box-shadow: none;
	}
	ui-drawer.right {
		right: initial;
		left: 100%;
	}
		ui-drawer.right.open {
			transform: translateX(-100%);
		}
ui-drawer-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 1101;
	opacity: 0;
	visibility: hidden;
	transition: 300ms ease-in-out;
}
	ui-drawer-background.show {
		opacity: 1;
		visibility: visible;
	}

@media (min-width: 601px) {
    ui-drawer > .toolbar-offset {
        height: 64px;
    }
}