<div class="light">
    <ui-card>
        <div>
            <ui-tabs class="primary scrollable" #tabs>
                <div class="tab selected" uiRipple>
                    Informações
                </div>
                <div class="tab" uiRipple>
                    Opções de Acesso
                </div>
            </ui-tabs>
        </div>
        <div>
            <ui-tabs class="primary scrollable" #tabsList>
                <div class="tab" uiRipple *ngFor="let item of list">
                    {{item.id}}
                </div>
            </ui-tabs>
        </div>
    </ui-card>
</div>
