@import "../core/variables";

:host {
    display: block;
}

img {
    display: none;
}

.wrap {
    width: 44px;
    height: 44px;
    margin: 4px;
    position: relative;
}

.profile, .empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: background 280ms ui-easing('deceleration'), color 280ms ui-easing('deceleration');
}

.profile {
    background-size: cover;
    background-position: center;
}


.grayscale {
    animation: grayscale 960ms 160ms forwards ui-easing('deceleration');
    filter: grayscale(100%);
}

@keyframes grayscale {
    100% {
        filter: grayscale(0);
    }
}
