<div class="light">
    <ui-card>
        <ui-card-title>Infinite load (dentro de um elemento)</ui-card-title>
        <ui-card-content>
            <div style="overflow: scroll; height: 600px" (uiInfiniteLoad)="loadMore()" orientation="vertical">
                <div *ngFor="let item of items" style="height: 300px">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at dignissimos eum nesciunt quod
                    repudiandae sed tenetur! Beatae corporis dolorem doloremque doloribus natus perspiciatis quasi
                    reprehenderit, soluta temporibus tenetur voluptatem.
                </div>
            </div>
        </ui-card-content>
    </ui-card>
    <ui-card *ngFor="let item of items2">
        <ui-card-title>Infinite load (no body)</ui-card-title>
        <ui-card-content>
            <div style="height: 300px">
                Veja o arquivo .ts para entender como funciona o infinite load no body
            </div>
        </ui-card-content>
    </ui-card>
</div>
