<ng-container>
    <div class="ui-list">
        <ng-content></ng-content>
        <div *ngFor="let item of list">
            <div *ngIf="!item.childs && !item.url" class="ui-list-item disabled">{{item.name}}</div>
            <a *ngIf="!item.childs && item.url" class="ui-list-item" uiRipple
               [routerLink]="item.url ? [item.url] : null"
               [routerLinkActive]="['active']">{{item.name}}</a>
            <div *ngIf="item.childs">
                <div class="ui-list-item" uiRipple [uiListItem]="childs">
                    <span *ngIf="!!item.icon" class="icon">
                        <i *ngIf="item.icon.material" class="material-icons">{{item.icon.material}}</i>
                        <img *ngIf="!!item.icon.img" [src]="item.icon.img" style="width:24px;height:24px"/>
                    </span>
                    {{item.name}}
                    <span class="arrow"><i class="material-icons">keyboard_arrow_down</i></span>
                </div>
                <div class="ui-list-item-group" #childs>
                    <div *ngFor="let child of item.childs">
                        <div *ngIf="!child.url" class="ui-list-item disabled">
                            <span *ngIf="!!child.icon" class="icon">
                                <i *ngIf="child.icon.material" class="material-icons">{{child.icon.material}}</i>
                                <img *ngIf="!!child.icon.img" [src]="child.icon.img" style="width:24px;height:24px"/>
                            </span>
                            {{child.name}}
                        </div>
                        <a *ngIf="child.url" class="ui-list-item" uiRipple [routerLink]="child.url ? [child.url] : null"
                           [routerLinkActive]="['active']">
                            <span *ngIf="!!child.icon" class="icon">
                                <i *ngIf="child.icon.material" class="material-icons">{{child.icon.material}}</i>
                                <img *ngIf="!!child.icon.img" [src]="child.icon.img" style="width:24px;height:24px"/>
                            </span>
                            {{child.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
