.ui-list {
    padding: 8px 0;

    li,
    .ui-list-item {
        height: 48px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: 500;

        &.subheader {
            color: rgba(0, 0, 0, 0.54);
        }

        .icon {
            display: flex;
            align-items: center;
            width: 56px;
            color: rgba(0, 0, 0, 0.54);
        }

        &,
        .icon {
            transition: color 280ms ui-easing('deceleration');
        }
    }
}
/**/
