@import "../core/variables";

ui-nav-drawer {
    nav {
        top: 0;
        bottom: 0;
        max-width: 320px;
        position: fixed;
        width: 100%;
        z-index: 7;
        box-shadow: ui-shadow('16dp');
        transition: transform 280ms ui-easing('deceleration');
        left: -10px;
        transform: translateX(-100%);
        user-select: none;

        .ui-nav-drawer-overflow {
            height: calc(100% - 64px);
            overflow: auto;
            margin-top: -1px;
            position: relative;
        }

        @include mobile {
            width: calc(100% - 56px);
        }

        .ui-list {
            padding-bottom: 0;

            .ui-list-item:not(.nothing) {
                padding-left: 21px;
            }
        }
    }

    &.persistent {
        nav {
            z-index: 4;
            @include desktop {
                box-shadow: ui-shadow('1dp');
            }
        }
    }

    &.open nav {
        left: 0;
        transform: translateX(0);
    }

    &:not(.persistent) .ui-nav-drawer-overlay {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
    }

    @include mobile {
        .ui-nav-drawer-overlay {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
        }
    }
}

ui-nav-drawer.open nav + .ui-nav-drawer-overlay {
    animation: openNav 280ms ui-easing('deceleration');
    animation-fill-mode: forwards;
}

ui-nav-drawer:not(.open) nav + .ui-nav-drawer-overlay {
    animation: closeNav 280ms ui-easing('deceleration');
    animation-fill-mode: forwards;
}

@keyframes openNav {
    0% {
        opacity: 0;
        z-index: 3;
    }

    100% {
        opacity: 1;
        z-index: 3;
    }
}

@keyframes closeNav {
    0% {
        opacity: 1;
        z-index: 3;
    }

    99% {
        opacity: 0;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

body {
    transition: margin-left 280ms ui-easing('deceleration');
}

body.ui-nav-drawer-persistent {
    @include desktop {
        margin-left: 320px;
    }
}
