<ui-card class="light">
    <ui-card-title>Theme Light</ui-card-title>
    <ui-card-content>
        <div class="ui-button-container">
            <button class="ui-button">Default</button>
            <button class="ui-button primary">Primary</button>
            <button class="ui-button accent">Accent</button>
            <button class="ui-button success">Success</button>
            <button class="ui-button warning">Warning</button>
            <button class="ui-button error">Error</button>
            <button class="ui-button" disabled>Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button raised">Raised</button>
            <button class="ui-button raised primary">Raised Primary</button>
            <button class="ui-button raised accent">Raised Accent</button>
            <button class="ui-button raised success">Raised Success</button>
            <button class="ui-button raised warning">Raised Warning</button>
            <button class="ui-button raised error">Raised Error</button>
            <button class="ui-button raised error" disabled>Raised Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button flat">Flat</button>
            <button class="ui-button flat primary">Flat Primary</button>
            <button class="ui-button flat accent">Flat Accent</button>
            <button class="ui-button flat success">Flat Success</button>
            <button class="ui-button flat warning">Flat Warning</button>
            <button class="ui-button flat error">Flat Error</button>
            <button class="ui-button flat error" disabled>Flat Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button full">Full</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button primary icon">
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary raised icon">
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary flat icon">
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button flat icon" disabled>
                <i class="material-icons">delete</i>
            </button>
        </div>
        <div class="ui-fab-container">
            <button class="ui-button accent fab mini">
                <i class="material-icons">add</i>
            </button>
            <button class="ui-button primary fab">
                <i class="material-icons">add</i>
            </button>
        </div>
    </ui-card-content>
</ui-card>

<ui-card class="dark">
    <ui-card-title>Theme Dark</ui-card-title>
    <ui-card-content>
        <div class="ui-button-container">
            <button class="ui-button">Default</button>
            <button class="ui-button primary">Primary</button>
            <button class="ui-button accent">Accent</button>
            <button class="ui-button success">Success</button>
            <button class="ui-button warning">Warning</button>
            <button class="ui-button error">Error</button>
            <button class="ui-button" disabled>Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button raised">Raised</button>
            <button class="ui-button raised primary">Raised Primary</button>
            <button class="ui-button raised accent">Raised Accent</button>
            <button class="ui-button raised success">Raised Success</button>
            <button class="ui-button raised warning">Raised Warning</button>
            <button class="ui-button raised error">Raised Error</button>
            <button class="ui-button raised error" disabled>Raised Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button flat">Flat</button>
            <button class="ui-button flat primary">Flat Primary</button>
            <button class="ui-button flat accent">Flat Accent</button>
            <button class="ui-button flat success">Flat Success</button>
            <button class="ui-button flat warning">Flat Warning</button>
            <button class="ui-button flat error">Flat Error</button>
            <button class="ui-button flat error" disabled>Flat Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button full">Full</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button primary icon">
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary raised icon">
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary flat icon">
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button flat icon" disabled>
                <i class="material-icons">delete</i>
            </button>
        </div>
    </ui-card-content>
</ui-card>
