<div style="max-width: 600px; margin: 16px auto">
    <ui-card>
        <ui-card-content>
            <div>
                <button class="ui-button icon flat" uiRipple [uiMenuTrigger]="testeMenu" [click-overlay-to-close]="true">
                    <i class="material-icons">more_vert</i>
                </button>
                <span>Menu left aligned</span>
            </div>
            <div class="ui-flex-container" style="align-items: center">
                <span style="flex: 1; text-align: right" >Menu right aligned</span>
                <button class="ui-button icon flat" uiRipple [uiMenuTrigger]="testeMenu2" align="right">
                    <i class="material-icons">more_vert</i>
                </button>
            </div>
            <div *ngFor="let size of sizes" style="margin: 8px 0">
                <button class="ui-button icon flat" uiRipple (click)="sizeTarget = size" [uiMenuTrigger]="menuSize">
                    <i class="material-icons">more_vert</i>
                </button>
                <span>Size {{size}}x (.ui-menu-content.size-{{size}}x)</span>
            </div>
            <div style="margin: 8px 0">
                <button class="ui-button icon flat" uiRipple [uiMenuTrigger]="menuIcon">
                    <i class="material-icons">more_vert</i>
                </button>
                <span>Item menu with icon</span>
            </div>
            <div style="margin: 8px 0">
                <button class="ui-button icon flat" uiRipple [uiMenuTrigger]="menuIcon" [contextmenu]="true">
                    <i class="material-icons">more_vert</i>
                </button>
                <span>Open with left button</span>
            </div>
        </ui-card-content>
        <ui-card-content>
            <button class="ui-button" uiRipple (click)="menuDirect.show($event)">
                OPEN IN CLICKED LOCATION
            </button>
            <br><br>
            <button class="ui-button" uiRipple (click)="menuDirect.show($event, {element: $event.target})">
                OPEN IN CLICKED ELEMENT
            </button>
            <br><br>
            <button class="ui-button" uiRipple (click)="menuDirect.show($event, {align: 'right', element: $event.target})">
                OPEN IN CLICKED ELEMENT (RIGHT)
            </button>
            <br><br>
            <button class="ui-button" uiRipple (click)="menuDirect.show($event, { class: 'red' })">
                OPEN WITH CLASS
            </button>
            <br><br>
            <button class="ui-button" uiRipple (click)="menuDirectPersistent.show($event, { persistent: true })">
                OPEN PERSISTENT
            </button>
        </ui-card-content>
    </ui-card>
</div>
<ui-menu #testeMenu>
    <div class="ui-menu-content">
        <div style="width: 800px; height: 800px"></div>
        <!--<div class="ui-menu-item" uiRipple>Counter: {{counter}}</div>-->
        <!--<div class="ui-menu-item" uiRipple (click)="bindFunction(); $event.stopPropagation(); testeMenu.close()">Increment counter</div>-->
    </div>
</ui-menu>

<ui-menu #testeMenu2 theme-class="dark">
    <div class="ui-menu-content">
        <div class="ui-menu-item" uiRipple>Counter: {{counter}}</div>
        <div class="ui-menu-item" uiRipple (click)="bindFunction(); $event.stopPropagation()">Increment counter</div>
    </div>
</ui-menu>

<ui-menu #menuSize>
    <div class="ui-menu-content size-{{sizeTarget}}x">
        <div class="ui-menu-item" uiRipple>Size target: {{sizeTarget}}x</div>
    </div>
</ui-menu>

<ui-menu #menuIcon>
    <div class="ui-menu-content size-2x">
        <div class="ui-menu-item" uiRipple>
            <i class="icon material-icons">done</i>
            Done
        </div>
    </div>
</ui-menu>

<ui-menu #menuDirect>
    <div class="ui-menu-content">
        <div class="ui-menu-item" uiRipple>Counter: {{counter}}</div>
    </div>
</ui-menu>

<ui-menu #menuDirectPersistent>
    <div class="ui-menu-content">
        <div class="ui-menu-item" uiRipple>Counter: {{counter}}</div>
        <div class="ui-menu-item" uiRipple (click)="menuDirectPersistent.close()">CLOSE</div>
    </div>
</ui-menu>
