.ui-list {
    list-style-type: none;
}
.ui-list .icon {
    margin-left: 8px;
    color: rgba(0,0,0,0.8);
    display: inline-flex;
    align-items: center;
}
.ui-list .action {
    position: relative;
    color: rgba(0,0,0,0.6);
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 200ms ease-in-out;
}
.ui-list .action::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    display: block;
    transition: 200ms ease-in-out;
}
.ui-list .action:focus::before {
    opacity: 0.1;
}
.ui-list .action:active::before {
    opacity: 0.2;
}
.ui-list .action:hover {
    color: rgba(0,0,0,0.8);
}
.ui-list .subheader {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    padding: 12px 16px;
}
.ui-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ui-list .item-icon {
    color: rgba(0,0,0,0.6);
}
.ui-list.bordered .ui-item:not(:last-child)::after {
    content: '';
    display: block;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-left: 72px;
}
.ui-list.offset-border .ui-item::after {
    margin-left: 72px;
}
.ui-list .item-avatar {
    color: white;
    background-color: rgba(0,0,0,0.4);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-list .list-text {
    flex: 1;
}
.ui-list .secondary-content {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.ui-list.s-l3 .item-cover > *,
.ui-list.m-l3 .item-cover > *,
.ui-list.l-l3 .item-cover > * {
    align-self: flex-start;
}
.ui-list *:hover .secondary-content.hide-focus,
.ui-list *:focus .secondary-content.hide-focus {
    display: none;
}
.ui-list .item-cover:not(:hover):not(:focus) .secondary-content.show-focus,
.ui-list .item-cover:not(:hover):not(:focus) .secondary-content.show-focus{
    display: none;
}
.ui-list .action:hover,
.ui-list .action:focus{
    display: block;
}
.ui-list .item-cover {
    position: relative;
    display: flex;
    cursor: default;
    align-items: center;
    padding: 0 16px;
}
.ui-list .item-cover > :not(.item-avatar):not(.item-icon) {
    margin-top: 16px;
    margin-bottom: 16px;
}
.ui-list .item-cover > .list-text:not(:first-child) {
    margin-left: 16px;
}
.ui-list .item-cover:not(:hover) > .hover-show {
    display: none;
}
.ui-list .secondary {
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}
/* CLICK */
.ui-list.clickable .item-cover,
.ui-list .clickable .item-cover {
    transition: 300ms ease-in-out;
}
.ui-list.pointer .item-cover,
.ui-list .pointer .item-cover {
    cursor: pointer;
}
.ui-list.clickable .item-cover:hover,
.ui-list .clickable .item-cover:hover {
    background-color: rgba(0,0,0,0.12);
}
.ui-list .item-cover.focused {
    background-color: rgba(0,0,0,0.08);
}
.ui-list.clickable .item-cover.focused:hover,
.ui-list .clickable .item-cover.focused:hover {
    background-color: rgba(0,0,0,0.12);
}
.ui-list .item-cover.focused.blue {
    background-color: #2196F3;
    color: white;
}
.ui-list .item-cover.focused.blue .ui-secondary {
    color: #eee;
}
.ui-list.clickable .item-cover.focused.blue:hover,
.ui-list .clickable .item-cover.focused.blue:hover {
    background-color: #2196F3;
}
/* VARIAÇÕES */
.ui-list.s-l1 .item-cover > :not(.item-avatar):not(.item-icon),
.ui-list .s-l1 .item-cover > :not(.item-avatar):not(.item-icon) {
    margin-top: 12px;
    margin-bottom: 12px;
}
.ui-list.s-l1 .item-cover,
.ui-list .s-l1 .item-cover {
    font-size: 16px;
    min-height: 48px;
}
.ui-list.s-l1.s-dense .item-cover,
.ui-list.m-l1.s-dense .item-cover,
.ui-list.l-l1.s-dense .item-cover,
.ui-list .s-l1.s-dense .item-cover,
.ui-list .m-l1.s-dense .item-cover,
.ui-list .l-l1.s-dense .item-cover {
    font-size: 13px;
    min-height: 40px;
}
.ui-list.s-l2 .item-cover,
.ui-list .s-l2 .item-cover {
    font-size: 16px;
    min-height: 72px;
}
.ui-list.s-l2.s-dense .item-cover,
.ui-list.m-l2.s-dense .item-cover,
.ui-list.l-l2.s-dense .item-cover,
.ui-list .s-l2.s-dense .item-cover,
.ui-list .m-l2.s-dense .item-cover,
.ui-list .l-l2.s-dense .item-cover {
    font-size: 13px;
    min-height: 60px;
}
.ui-list.s-l3 .item-cover,
.ui-list .s-l3 .item-cover {
    font-size: 16px;
    min-height: 88px;
}
.ui-list.s-l3.s-dense .item-cover,
.ui-list.m-l3.s-dense .item-cover,
.ui-list.l-l3.s-dense .item-cover,
.ui-list .s-l3.s-dense .item-cover,
.ui-list .m-l3.s-dense .item-cover,
.ui-list .l-l3.s-dense .item-cover {
    font-size: 13px;
    min-height: 76px;
}
.ui-list.s-l2 .item-cover,
.ui-list .s-l2 .item-cover {
    font-size: 16px;
    min-height: 72px;
}
.ui-list.s-l2.s-dense .item-cover,
.ui-list.m-l2.s-dense .item-cover,
.ui-list.l-l2.s-dense .item-cover,
.ui-list .s-l2.s-dense .item-cover,
.ui-list .m-l2.s-dense .item-cover,
.ui-list .l-l2.s-dense .item-cover {
    font-size: 13px;
    min-height: 60px;
}
@media (max-width: 960px) {
    .ui-list.s-l1.s-only-dense .item-cover,
    .ui-list.m-l1.s-only-dense .item-cover,
    .ui-list.l-l1.s-only-dense .item-cover,
    .ui-list .s-l1.s-only-dense .item-cover,
    .ui-list .m-l1.s-only-dense .item-cover,
    .ui-list .l-l1.s-only-dense .item-cover {
        font-size: 13px;
        min-height: 40px;
    }
    .ui-list.s-l2.s-only-dense .item-cover,
    .ui-list.m-l2.s-only-dense .item-cover,
    .ui-list.l-l2.s-only-dense .item-cover,
    .ui-list .s-l2.s-only-dense .item-cover,
    .ui-list .m-l2.s-only-dense .item-cover,
    .ui-list .l-l2.s-only-dense .item-cover {
        font-size: 13px;
        min-height: 60px;
    }
    .ui-list.s-l3.s-only-dense .item-cover,
    .ui-list.m-l3.s-only-dense .item-cover,
    .ui-list.l-l3.s-only-dense .item-cover,
    .ui-list .s-l3.s-only-dense .item-cover,
    .ui-list .m-l3.s-only-dense .item-cover,
    .ui-list .l-l3.s-only-dense .item-cover {
        font-size: 13px;
        min-height: 76px;
    }
    .ui-list.s-l2.s-only-dense .item-cover,
    .ui-list.m-l2.s-only-dense .item-cover,
    .ui-list.l-l2.s-only-dense .item-cover,
    .ui-list .s-l2.s-only-dense .item-cover,
    .ui-list .m-l2.s-only-dense .item-cover,
    .ui-list .l-l2.s-only-dense .item-cover {
        font-size: 13px;
        min-height: 60px;
    }
}
@media (min-width: 961px) {
    .ui-list.m-l1 .item-cover > :not(.item-avatar):not(.item-icon),
    .ui-list .m-l1 .item-cover > :not(.item-avatar):not(.item-icon) {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .ui-list.m-l1 .item-cover,
    .ui-list .m-l1 .item-cover {
        font-size: 16px;
        min-height: 48px;
    }
    .ui-list.s-l1.m-dense .item-cover,
    .ui-list.m-l1.m-dense .item-cover,
    .ui-list.l-l1.m-dense .item-cover,
    .ui-list .s-l1.m-dense .item-cover,
    .ui-list .m-l1.m-dense .item-cover,
    .ui-list .l-l1.m-dense .item-cover {
        font-size: 13px;
        min-height: 40px;
    }
    .ui-list.m-l2 .item-cover,
    .ui-list .m-l2 .item-cover {
        font-size: 16px;
        min-height: 72px;
    }
    .ui-list.s-l2.m-dense .item-cover,
    .ui-list.m-l2.m-dense .item-cover,
    .ui-list.l-l2.m-dense .item-cover,
    .ui-list .s-l2.m-dense .item-cover,
    .ui-list .m-l2.m-dense .item-cover,
    .ui-list .l-l2.m-dense .item-cover {
        font-size: 13px;
        min-height: 60px;
    }
    .ui-list.m-l3 .item-cover,
    .ui-list .m-l3 .item-cover {
        font-size: 16px;
        min-height: 88px;
    }
    .ui-list.s-l3.m-dense .item-cover,
    .ui-list.m-l3.m-dense .item-cover,
    .ui-list.l-l3.m-dense .item-cover,
    .ui-list .s-l3.m-dense .item-cover,
    .ui-list .m-l3.m-dense .item-cover,
    .ui-list .l-l3.m-dense .item-cover {
        font-size: 13px;
        min-height: 76px;
    }
    .ui-list.m-l2 .item-cover,
    .ui-list .m-l2 .item-cover {
        font-size: 16px;
        min-height: 72px;
    }
    .ui-list.s-l2.m-dense .item-cover,
    .ui-list.m-l2.m-dense .item-cover,
    .ui-list.l-l2.m-dense .item-cover,
    .ui-list .s-l2.m-dense .item-cover,
    .ui-list .m-l2.m-dense .item-cover,
    .ui-list .l-l2.m-dense .item-cover {
        font-size: 13px;
        min-height: 60px;
    }
}
@media (min-width: 961px) and (max-width: 1280px) {
    .ui-list.s-l1.m-only-dense .item-cover,
    .ui-list.m-l1.m-only-dense .item-cover,
    .ui-list.l-l1.m-only-dense .item-cover,
    .ui-list .s-l1.m-only-dense .item-cover,
    .ui-list .m-l1.m-only-dense .item-cover,
    .ui-list .l-l1.m-only-dense .item-cover {
        font-size: 13px;
        min-height: 40px;
    }
    .ui-list.s-l2.m-only-dense .item-cover,
    .ui-list.m-l2.m-only-dense .item-cover,
    .ui-list.l-l2.m-only-dense .item-cover,
    .ui-list .s-l2.m-only-dense .item-cover,
    .ui-list .m-l2.m-only-dense .item-cover,
    .ui-list .l-l2.m-only-dense .item-cover {
        font-size: 13px;
        min-height: 60px;
    }
    .ui-list.s-l3.m-only-dense .item-cover,
    .ui-list.m-l3.m-only-dense .item-cover,
    .ui-list.l-l3.m-only-dense .item-cover,
    .ui-list .s-l3.m-only-dense .item-cover,
    .ui-list .m-l3.m-only-dense .item-cover,
    .ui-list .l-l3.m-only-dense .item-cover {
        font-size: 13px;
        min-height: 76px;
    }
    .ui-list.s-l2.m-only-dense .item-cover,
    .ui-list.m-l2.m-only-dense .item-cover,
    .ui-list.l-l2.m-only-dense .item-cover,
    .ui-list .s-l2.m-only-dense .item-cover,
    .ui-list .m-l2.m-only-dense .item-cover,
    .ui-list .l-l2.m-only-dense .item-cover {
        font-size: 13px;
        min-height: 60px;
    }
}
@media (min-width: 1281px) {
    .ui-list.l-l1 .item-cover > :not(.item-avatar):not(.item-icon),
    .ui-list .l-l1 .item-cover > :not(.item-avatar):not(.item-icon) {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .ui-list.l-l1 .item-cover,
    .ui-list .l-l1 .item-cover {
        font-size: 16px;
        min-height: 48px;
    }
    .ui-list.s-l1.l-dense .item-cover,
    .ui-list.m-l1.l-dense .item-cover,
    .ui-list.l-l1.l-dense .item-cover,
    .ui-list .s-l1.l-dense .item-cover,
    .ui-list .m-l1.l-dense .item-cover,
    .ui-list .l-l1.l-dense .item-cover {
        font-size: 13px;
        min-height: 40px;
    }
    .ui-list.l-l2 .item-cover,
    .ui-list .l-l2 .item-cover {
        font-size: 16px;
        min-height: 72px;
    }
    .ui-list.s-l2.l-dense .item-cover,
    .ui-list.m-l2.l-dense .item-cover,
    .ui-list.l-l2.l-dense .item-cover,
    .ui-list .s-l2.l-dense .item-cover,
    .ui-list .m-l2.l-dense .item-cover,
    .ui-list .l-l2.l-dense .item-cover {
        font-size: 13px;
        min-height: 60px;
    }
    .ui-list.l-l3 .item-cover,
    .ui-list .l-l3 .item-cover {
        font-size: 16px;
        min-height: 88px;
    }
    .ui-list.s-l3.l-dense .item-cover,
    .ui-list.m-l3.l-dense .item-cover,
    .ui-list.l-l3.l-dense .item-cover,
    .ui-list .s-l3.l-dense .item-cover,
    .ui-list .m-l3.l-dense .item-cover,
    .ui-list .l-l3.l-dense .item-cover {
        font-size: 13px;
        min-height: 76px;
    }
    .ui-list.l-l2 .item-cover,
    .ui-list .l-l2 .item-cover {
        font-size: 16px;
        min-height: 72px;
    }
    .ui-list.s-l2.l-dense .item-cover,
    .ui-list.m-l2.l-dense .item-cover,
    .ui-list.l-l2.l-dense .item-cover,
    .ui-list .s-l2.l-dense .item-cover,
    .ui-list .m-l2.l-dense .item-cover,
    .ui-list .l-l2.l-dense .item-cover {
        font-size: 13px;
        min-height: 60px;
    }
}