@import '../core/variables';

:host {
    width: 100%;
    display: block;

    .tabs {
        position: relative;
        overflow: hidden;
        z-index: 2;
        width: 100%;
        height: 48px;

        .overflow {
            overflow-y: auto;
            position: relative;
            width: 100%;
            height: 100px;
            display: flex;
            transition: transform 280ms ui-easing('deceleration'),
            padding-left 280ms ui-easing('deceleration');

            /deep/ .tab {
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 12px;
                text-transform: uppercase;
                cursor: default;
                user-select: none;
                font-size: 14px;
                font-weight: 500;
                text-align: center;

                transition: color 280ms ui-easing('deceleration'),
                max-width 280ms ui-easing('deceleration');

                &.selected {
                }

                @include mobile {
                    min-width: 72px;
                }

                @at-root :host:not(.scrollable) .tabs /deep/ .tab {
                    width: 100%;
                }

                @at-root :host.scrollable {
                    &:not(.no-padding) .tabs .overflow {
                        @media (min-width: 763px) {
                            padding-left: 60px;
                        }
                        @at-root :host-context(body.ui-nav-drawer-persistent).scrollable:not(.no-padding) .tabs .overflow {
                            @media (max-width: 762px + 320) {
                                padding-left: 0;
                            }
                        }
                    }

                    .tabs .overflow /deep/ .tab {
                        min-width: 160px;
                        max-width: 264px;
                    }
                }
            }

            .indicator {
                position: absolute;
                height: 2px;
                top: 46px;

                transition: width 280ms ui-easing('deceleration'),
                left 280ms ui-easing('deceleration');
            }
        }

        .arrows {
            .ui-button {
                margin: 0;
            }
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            pointer-events: none;
            display: flex;
            align-items: center;
            cursor: default;

            .left, .right {
                display: flex;
                justify-content: center;
                width: 50px;
                transition: transform 280ms ui-easing('deceleration');

                .ui-button {
                    pointer-events: auto;
                    transform: scale(0);
                }

                &.show {
                    .ui-button {
                        transform: scale(1);
                    }
                }
            }

            .right {
                margin-left: auto;
            }
        }
    }
}
