<ui-toolbar class="fixed flat elevate-on-scroll primary elevate-on-s960" id="app-header">
    <button (click)="menuOpen = true" class="ui-button flat icon" uiRipple>
        <i class="material-icons">menu</i>
    </button>
    <span class="title">{{title}}</span>
</ui-toolbar>

<ui-nav-drawer class="persistent" [(open)]="menuOpen">
    <ui-toolbar class="flat">
        <button (click)="menuOpen = false" class="ui-button flat icon" uiRipple>
            <i class="material-icons">arrow_back</i>
        </button>
        <span class="title">{{title}}</span>
    </ui-toolbar>
    <div class="ui-nav-drawer-overflow">
        <div class="ui-list">
            <a class="ui-list-item" uiRipple routerLink="/" [routerLinkActive]="['active']"
               [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <div class="ui-list-item" uiRipple [uiListItem]="componentes">
                Components
                <span class="arrow"><i class="material-icons">keyboard_arrow_right</i></span>
            </div>
            <div class="ui-list-item-group" #componentes>
                <a class="ui-list-item" uiRipple routerLink="/buttons" [routerLinkActive]="['active']">Buttons</a>
                <a class="ui-list-item" uiRipple routerLink="/cards" [routerLinkActive]="['active']">Cards</a>
                <a class="ui-list-item" uiRipple routerLink="/data-tables" [routerLinkActive]="['active']">Data
                    tables</a>
                <a class="ui-list-item" uiRipple routerLink="/date-pickers" [routerLinkActive]="['active']">Date
                    pickers</a>
                <a class="ui-list-item" uiRipple routerLink="/dialog" [routerLinkActive]="['active']">Dialog</a>
                <a class="ui-list-item" uiRipple routerLink="/dividers" [routerLinkActive]="['active']">Dividers</a>
                <a class="ui-list-item" uiRipple routerLink="/inputs" [routerLinkActive]="['active']">Inputs</a>
                <a class="ui-list-item" uiRipple routerLink="/layout" [routerLinkActive]="['active']">Layout</a>
                <a class="ui-list-item" uiRipple routerLink="/masks" [routerLinkActive]="['active']">Masks</a>
                <a class="ui-list-item" uiRipple routerLink="/menus" [routerLinkActive]="['active']">Menus</a>
                <a class="ui-list-item" uiRipple routerLink="/nav-drawer" [routerLinkActive]="['active']">Navigation
                    drawer</a>
                <a class="ui-list-item" uiRipple routerLink="/progress" [routerLinkActive]="['active']">Progress &
                    activity</a>
                <a class="ui-list-item" uiRipple routerLink="/selection-controls" [routerLinkActive]="['active']">Selection
                    controls</a>
                <a class="ui-list-item" uiRipple routerLink="/smart-list" [routerLinkActive]="['active']">Smart list</a>
                <a class="ui-list-item" uiRipple routerLink="/snackbars" [routerLinkActive]="['active']">Snackbars &
                    toasts</a>
                <a class="ui-list-item" uiRipple routerLink="/subheader" [routerLinkActive]="['active']">Subheader</a>
                <a class="ui-list-item" uiRipple routerLink="/toolbars" [routerLinkActive]="['active']">Toolbars</a>
            </div>
        </div>
    </div>
</ui-nav-drawer>

<router-outlet></router-outlet>

<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
<!---->
