@import "../smn-ui/core/core";
@import "../smn-ui/core/theme";

$primary: (color: 'blue', hue: '500');
$accent: (color: 'pink', hue: '400');

$theme: ui-theme($primary, $accent);
$theme-dark: ui-theme($primary, $accent, true);

@include ui-core();

@include ui-build-theme($theme);

.dark {
    background-color: #303030;
    color: rgba(255,255,255,1);
    @include ui-build-theme($theme-dark);
}

.light {
    background-color: #FAFAFA;
    color: rgba(0,0,0,.87);
    @include ui-build-theme($theme);
}
