<ui-toolbar class="fixed flat elevate-on-scroll primary">
    <button (click)="menuOpen = true" class="ui-button flat icon">
        <i class="material-icons">menu</i>
    </button>
    <span class="title">{{title}}</span>
</ui-toolbar>

<!--<ui-drawer [class.open]="openMenu">
    <div class="toolbar-offset"></div>
    <div class="drawer-content">
        <ui-main-menu [menu-list]="menuList.result.opcoes" (menu-click)="openMenu = false"></ui-main-menu>
    </div>
</ui-drawer>
<ui-drawer-background (click)="openMenu = false" [class.show]="openMenu"></ui-drawer-background>-->
<ui-nav-drawer [ngClass]="{open: menuOpen}">
    <ui-toolbar class="flat">
        <button (click)="menuOpen = false" class="ui-button flat icon">
            <i class="material-icons">arrow_back</i>
        </button>
        <span class="title">{{title}}</span>
    </ui-toolbar>
    <ul>
        <li class="ui-divider"></li>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/buttons">Buttons</a>
        </li>
        <li>
            <a routerLink="/cards">Cards</a>
        </li>
        <li>
            <a routerLink="/date-pickers">Date pickers</a>
        </li>
        <li>
            <a routerLink="/inputs">Inputs</a>
        </li>
        <li>
            <a routerLink="/selection-controls">Selection controls</a>
        </li>
        <li>
            <a routerLink="/toolbar">Toolbar</a>
        </li>
    </ul>
</ui-nav-drawer>

<router-outlet></router-outlet>
