@import "../../../projects/smn-ui/src/lib/core/palette";
@import "../../../projects/smn-ui/src/lib/core/theme";
@import "../../../projects/smn-ui/src/lib/core/core";

$primary: (color: 'grey', hue: '900');
$accent: (color: 'green', hue: 'A400');

$theme: ui-theme($primary, $accent);
$theme-dark: ui-theme($primary, $accent, true);

@include ui-core();

@include ui-build-theme($theme);

.dark {
    color: map_get($theme-dark, primary-text-color);
    @include ui-build-theme($theme-dark);
}

.light {
    color: map_get($theme, primary-text-color);
    @include ui-build-theme($theme);
}
