:host {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    background-color: #0d47a1;

    .color {
        width: 32px;
        height: 32px;
        display: block;
        border-radius: 50%;
    }
}
