<div style="margin: 16px auto; width: 600px; max-width: 100%">
    <ui-card>
        <ui-card-title>Version light</ui-card-title>
        <ui-card-content>
            <ui-input-container>
                <input type="text" uiInput [(ngModel)]="simple" name="date" uiDatePicker="simple">
                <label>Date</label>
                <div class="icon">
                    <button class="ui-button icon flat" uiDatePickerCaller="simple">
                        <i class="material-icons">today</i>
                    </button>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" uiInput [(ngModel)]="minAndMax" name="date" uiDatePicker="minAndMax" [minDate]="minDate" [maxDate]="maxDate">
                <label>Min e max</label>
                <div class="icon">
                    <button class="ui-button icon flat" uiDatePickerCaller="minAndMax">
                        <i class="material-icons">today</i>
                    </button>
                </div>
                <div class="ui-messages">
                    <div class="ui-message helper">
                        Mínimo: 10 dias para trás do dia de hoje; máximo: 20 dias para frente do dia de hoje
                    </div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" uiInput [(ngModel)]="confirmSelect" name="date" uiDatePicker="confirmSelect" [confirmSelection]="true">
                <label>Confirm select</label>
                <div class="icon">
                    <button class="ui-button icon flat" uiDatePickerCaller="confirmSelect">
                        <i class="material-icons">today</i>
                    </button>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" uiInput [(ngModel)]="functionSelect" name="date" uiDatePicker="functionSelect" (select)="execFunctionSelect()">
                <label>Execute function select</label>
                <div class="icon">
                    <button class="ui-button icon flat" uiDatePickerCaller="functionSelect">
                        <i class="material-icons">today</i>
                    </button>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" uiInput [(ngModel)]="initOnSelected" name="date" uiDatePicker="initOnSelected" [initOnSelected]="worldWarII">
                <label>Data segunda guerra mundial</label>
                <div class="icon">
                    <button class="ui-button icon flat" uiDatePickerCaller="initOnSelected">
                        <i class="material-icons">today</i>
                    </button>
                </div>
                <div class="ui-messages">
                    <div class="ui-message helper">
                        Inicia o calendário na data da segunda guerra mundial
                    </div>
                </div>
            </ui-input-container>
            <!--<ui-calendar [minDate]="today" [(ngModel)]="date" ngDefaultControl></ui-calendar>-->
        </ui-card-content>
    </ui-card>
    <div class="dark" style="margin-top: 16px">
        <ui-card>
            <ui-card-title>Version dark</ui-card-title>
            <ui-card-content>
                <ui-input-container>
                    <input type="text" uiInput [(ngModel)]="dateDark" class="accent" name="dateDark" uiDatePicker="datepickerDark" darkClass="dark">
                    <label>Date</label>
                    <div class="icon">
                        <button class="ui-button icon flat" uiDatePickerCaller="datepickerDark">
                            <i class="material-icons">today</i>
                        </button>
                    </div>
                    <div class="ui-messages">
                        <div class="ui-message helper">
                            Com mais de um tema é necessário passar o nome da classe dark (darkClass)
                        </div>
                    </div>
                </ui-input-container>

                <!--<ui-calendar class="portrait-only" [maxDate]="date" [(ngModel)]="dateDark" (select)="select()" [confirmSelection]="false" ngDefaultControl></ui-calendar>-->
            </ui-card-content>
        </ui-card>
    </div>
</div>
