<div style="margin: 40px auto; width: 600px; max-width: 100%">
    <ui-card>
        <ui-card-title>{{date}}</ui-card-title>
        <ui-card-content>
            <ui-input-container>
                <input type="text" uiInput [(ngModel)]="date" class="accent" name="date">
                <label>Date</label>
                <!--<ui-datepicker></ui-datepicker>-->
            </ui-input-container>

            <ui-calendar [minDate]="today" [(model)]="date"></ui-calendar>
        </ui-card-content>
    </ui-card>

    <div class="dark">
        <ui-card>
            <ui-card-content>
                <ui-input-container>
                    <input type="text" uiInput [(ngModel)]="dateDark" class="accent" name="dateDark">
                    <label>Date</label>
                    <!--<ui-datepicker></ui-datepicker>-->
                </ui-input-container>

                <ui-calendar class="portrait-only" [maxDate]="date" [(model)]="dateDark" (select)="select()"
                             [confirmSelection]="true"></ui-calendar>
            </ui-card-content>
        </ui-card>
    </div>
</div>
