<div class="ui-button-container">
    <button class="ui-button raised primary" [uiDialogTrigger]="testDialog" uiRipple>Open Dialog</button>
    <button class="ui-button raised primary" uiRipple (click)="openWithService(testDialog)">Open Dialog with service</button>
    <button class="ui-button raised primary" [uiDialogTrigger]="testDialog" uiRipple transparent-overlay="true">
        Open Dialog with Transparent Overlay
    </button>
    <button class="ui-button raised primary" [uiDialogTrigger]="testDialog" uiRipple [click-overlay-to-close]="false">
        Dialog don't close when click in the overlay
    </button>
</div>

<ui-dialog #testDialog card-size="400">
    <ui-card-title>Test dialog</ui-card-title>
    <ui-card-content>
        <ui-input-container>
            <input type="text"
                   [(ngModel)]="searchAllState"
                   [modelValue]="teste2"
                   uiInput
                   class="accent"
                   uiAutocomplete
                   (input)="searchAll()"
                   (focus)="searchAll()"
                   (loadMore)="loadMore()"
                   [primary]="'name'"
                   theme-class="dark"
                   [secondary]="'country'"
                   [list]="allStatesFiltered"
                   [loading]="loading"
                   [select]="select">
            <label>States</label>
        </ui-input-container>
    </ui-card-content>
    <iframe height="315" src="https://www.youtube.com/embed/B3eW06vMSw8" frameborder="0" allowfullscreen></iframe>
    <div class="ui-button-container cover">
        <button class="ui-button raised primary" uiRipple (click)="testDialog.close()">Close Dialog</button>
        <button class="ui-button raised primary" uiRipple (click)="closeWithService()">Close Dialog with service</button>
    </div>
</ui-dialog>
