.ui-expand.ng-animate {
	transition: 300ms ease-in-out;
}
.ui-expand.ng-hide {
	transition: 600ms ease-in-out, width 300ms ease-in-out 150ms, height 300ms ease-in-out 150ms !important;
}
.ui-expand > * {
	transition: 150ms ease-in-out;
}
	.ui-expand.ng-hide-animate > * {
		opacity: 0;
		transform: translateY(-2px);
		transition: 150ms ease-in-out 300ms;
	}
	.ui-expand.ng-hide > * {
		opacity: 0;
		transition: 150ms ease-in-out;
	}
