@import "../core/variables.scss";

ui-subheader {
    font-size: 14px;
    font-weight: 500;
    min-height: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    color: ui-color('black', '500', 0.54);
    user-select: none;
    cursor: default;
}
