@import "../core/variables";

.wrap-bottom-sheet {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    ui-card {
        transition: transform 195ms ui-easing('acceleration');
        transform: translateY(100%);
        box-shadow: ui-shadow('16dp');
    }

    .overlay {
        transition: opacity 280ms ui-easing('aceleration');
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &.open {
        ui-card {
            transition: transform 195ms ui-easing('deceleration');
            transform: translateY(0);
        }
        .overlay {
            transition: opacity 280ms ui-easing('deceleration');
            opacity: 1;
        }
    }
}

