<div class="light">
    <ui-card>
        <ui-card-content>
            <div class="ui-list">
                <a class="ui-list-item" uiRipple routerLink="/dividers">Dividers</a>
                <div class="ui-divider"></div>
                <a class="ui-list-item" uiRipple routerLink="/inputs">Inputs</a>
            </div>
        </ui-card-content>
    </ui-card>
</div>

<div class="dark">
    <ui-card>
        <ui-card-content>
            <div class="ui-list">
                <a class="ui-list-item" uiRipple routerLink="/dividers">Dividers</a>
                <div class="ui-divider"></div>
                <a class="ui-list-item" uiRipple routerLink="/inputs">Inputs</a>
            </div>
        </ui-card-content>
    </ui-card>
</div>
