ui-calendar {
    display: inline-flex;
    flex-direction: column;
    width: 280px;
    background-color: #FFF;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15),0 2px 6px rgba(0,0,0,.2);
}
ui-calendar header {
    background-color: #2196F3;
    color: #fff;
    padding: 8px 16px;
    min-height: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
ui-calendar header .year {
    font-size: 14px;
    opacity: .8;
    font-weight: 400;
}
ui-calendar header .date {
    font-size: 22px;
    font-weight: 500;
}
ui-calendar .actions {
    padding: 8px;
    text-align: right;
    cursor: default;
}
ui-calendar .content {
    position: relative;
}
ui-calendar .calendar-cover {
    position: relative;
    overflow: hidden;
    transition: 300ms ease-in-out;
}
ui-calendar .calendar:not(:only-child) {
    transition: 300ms ease-in-out;
}
ui-calendar .calendar.ng-enter {
    opacity: 0;
}
ui-calendar .calendar.ng-enter-active {
    opacity: 1;
    transform: translate(0px) !important;
}
ui-calendar .calendar.ng-leave + .calendar.ng-leave {
    display: none;
}
ui-calendar .calendar:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
ui-calendar .calendar.ng-leave-active {
    opacity: 0;
}
ui-calendar .calendar.ng-enter.enter-right {transform: translate(25%);}
ui-calendar .calendar.ng-enter.enter-left {transform: translate(-25%);}
ui-calendar .calendar.ng-leave-active.leave-right {transform: translate(25%);}
ui-calendar .calendar.ng-leave-active.leave-left {transform: translate(-25%);}
ui-calendar .label {
    padding: 4px 40px;
}
ui-calendar .month-label {
    font-size: 14px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 2px;
    background-color: transparent;
    transition: 200ms ease-in-out;
}
ui-calendar .month-label:focus {background-color: rgba(0,0,0,.1);}
ui-calendar .month-label:hover {background-color: rgba(0,0,0,.15);}
ui-calendar .month-label:active {background-color: rgba(0,0,0,.2);}
ui-calendar .content button.round {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    color: rgba(0,0,0,0.9);
    transition: 200ms ease-in-out;
    z-index: 0;
}
ui-calendar .today button.round {
    color: #2196F3;
    font-weight: bold;
}
ui-calendar .content button.round[disabled] {
    opacity: .4;
}
ui-calendar .other-month {
    opacity: .7;
}
ui-calendar .content button.round::before,
ui-calendar .content button.round::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.15);
    border-radius: 50%;
    transform: scale(0);
    transition: 100ms ease-in-out;
    z-index: -1;
}
ui-calendar .content button.round::before {
    background-color: #2196F3;
}
ui-calendar .content button.round.selected {
    color: white;
}
ui-calendar .content button.round.selected::before {
    transform: scale(1);
}
ui-calendar .content button.round:focus::after {
    transform: scale(1);
}
ui-calendar .content button.round i {
    display: inline;
}
ui-calendar .content button.round:not([disabled]):hover {
    background-color: rgba(0,0,0,.15);
}
ui-calendar .week-header {
    display: flex;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}
ui-calendar .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
ui-calendar .controls button.round {
    position: absolute;
    top: 0;
    margin: 2px;
}
ui-calendar .controls button.round.ng-enter {
    transform: scale(0);
    transition: 100ms ease-in-out;
}
ui-calendar .controls button.round.ng-enter-active {
    transform: scale(1);
}
ui-calendar .controls button.round.ng-leave {
    transform: scale(1);
    transition: 100ms ease-in-out;
}
ui-calendar .controls button.round.ng-leave-active {
    transform: scale(0);
}
ui-calendar .days {
    display: flex;
    flex-wrap: wrap;
}
ui-calendar .controls .prev {
    left: 0;
}
ui-calendar .controls .next {
    right: 0;
}
ui-calendar .control,
ui-calendar .week-day,
ui-calendar .day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 12px;
}


ui-calendar.ui-picker {
    position: absolute;
    left: -9999px;
    transform-origin: 0 0;
    z-index: 2001;
    transition: 200ms ease-in-out;
    box-shadow: 0 24px 48px rgba(0,0,0,.15),0 24px 72px rgba(0,0,0,.2);
}

ui-calendar.ui-picker > * {
    transition: 150ms ease-in-out;
}
ui-calendar.ui-picker.ng-enter > * {
    opacity: 0;
    transform: translateY(-5px)
}
ui-calendar.ui-picker.ng-leave {
    transition: 150ms ease-in 150ms,
                visibility 300ms ease-in !important;
}
ui-calendar.ui-picker.ng-leave > * {
    opacity: 0;
    transform: translateY(-5px);
}
ui-background-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 2000;
}