.toolbar-space {
    @include desktop {
        height: 64px;
    }
    @include mobile-portrait {
        height: 56px;
    }
    @include mobile-landscape {
        height: 48px;
    }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 48px;
    @include desktop {
        height: 64px;
    }
    @include mobile-portrait {
        height: 56px;
    }
    @include mobile-landscape {
        height: 48px;
    }
    box-shadow: ui-shadow('4dp');
    color: $primary-color;
}
