<ui-card>
    <ui-card-title>Card Light</ui-card-title>
    <ui-card-subtitle>Subtitle</ui-card-subtitle>
    <ui-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit
        illum, minus nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt totam?
    </ui-card-content>
</ui-card>

<div class="dark">
    <ui-card>
        <ui-card-title>Card Dark</ui-card-title>
        <ui-card-subtitle>Subtitle</ui-card-subtitle>
        <ui-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit
            illum, minus nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt
            totam?
        </ui-card-content>
    </ui-card>
</div>

<div class="example2">
    <div class="light">
        <ui-card>
            <img src="https://image.prntscr.com/image/jMHtJCo7STiD0poTjyiH6Q.png" class="responsive" alt="">
            <ui-card-title>Card w/ Image + Buttons (Light)</ui-card-title>
            <ui-card-content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita
                fugit
                illum, minus nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt
                totam?
            </ui-card-content>
            <div class="ui-button-container cover align-left">
                <button class="ui-button flat" uiRipple>Action</button>
                <button class="ui-button flat primary" uiRipple>Submit</button>
            </div>
        </ui-card>
    </div>

    <div class="dark">
        <ui-card>
            <img src="https://image.prntscr.com/image/jMHtJCo7STiD0poTjyiH6Q.png" class="responsive" alt="">
            <ui-card-title>Card w/ Image + Buttons (Dark)</ui-card-title>
            <ui-card-content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita
                fugit
                illum, minus nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt
                totam?
            </ui-card-content>
            <div class="ui-button-container cover">
                <button class="ui-button flat" uiRipple>Action</button>
                <button class="ui-button flat primary" uiRipple>Submit</button>
            </div>
        </ui-card>
    </div>
</div>
