<div class="ui-s960">
    <ui-card>
        <ui-card-title uiShimmer>Card Light</ui-card-title>
        <ui-card-subtitle uiShimmer>Subtitle</ui-card-subtitle>
        <ui-card-content uiShimmer>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit
            illum, minus nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt totam?
        </ui-card-content>
    </ui-card>

    <div class="dark">
        <ui-card>
            <ui-card-title uiShimmer>Card Dark</ui-card-title>
            <ui-card-subtitle uiShimmer>Subtitle</ui-card-subtitle>
            <ui-card-content uiShimmer>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit
                illum, minus nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt
                totam?
            </ui-card-content>
        </ui-card>
    </div>

    <div class="example2">
        <div class="light">
            <ui-card>
                <div uiShimmer>
                    <img src="assets/bg-2.jpg" class="responsive" alt="">
                </div>
                <ui-card-title uiShimmer>Card w/ Image + Buttons (Light)</ui-card-title>
                <ui-card-content uiShimmer>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita
                    fugit
                    illum, minus nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt
                    totam?
                </ui-card-content>
                <div class="ui-button-container cover align-left">
                    <button class="ui-button flat" uiRipple>Action</button>
                    <button class="ui-button flat primary" uiRipple>Submit</button>
                </div>
            </ui-card>
        </div>

        <div class="dark">
            <ui-card>
                <img uiShimmer src="assets/bg-2.jpg" class="responsive" alt="">
                <ui-card-title uiShimmer>Card w/ Image + Buttons (Dark)</ui-card-title>
                <ui-card-content uiShimmer>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita
                    fugit
                    illum, minus nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt
                    totam?
                </ui-card-content>
                <div class="ui-button-container cover">
                    <button class="ui-button flat" uiRipple>Action</button>
                    <button class="ui-button flat primary" uiRipple>Submit</button>
                </div>
            </ui-card>
        </div>
    </div>
</div>
