<div class="example2">
    <ui-card>
        <ui-toolbar>
            <span class="title">Test</span>
        </ui-toolbar>
        <ui-card-title>Theme Light</ui-card-title>
        <ui-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus dicta eligendi explicabo
            impedit
            laborum neque non pariatur sed ullam! Assumenda culpa debitis hic illum in placeat quisquam tempore
            voluptatum.
        </ui-card-content>
    </ui-card>

    <ui-card class="dark">
        <ui-toolbar>
            <span class="title">Test</span>
        </ui-toolbar>
        <ui-card-title>Theme Dark</ui-card-title>
        <ui-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur ea expedita facere modi mollitia
            nulla
            unde veritatis. Aliquam amet consectetur cupiditate et facilis in possimus qui similique temporibus veniam?
        </ui-card-content>
    </ui-card>
</div>
<div class="example2">
    <ui-card>
        <ui-toolbar class="flat">
            <span class="title">Test (.flat)</span>
        </ui-toolbar>
        <ui-card-title>Theme Light</ui-card-title>
        <ui-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus dicta eligendi explicabo
            impedit
            laborum neque non pariatur sed ullam! Assumenda culpa debitis hic illum in placeat quisquam tempore
            voluptatum.
        </ui-card-content>
    </ui-card>

    <ui-card class="dark">
        <ui-toolbar class="flat">
            <span class="title">Test (.flat)</span>
        </ui-toolbar>
        <ui-card-title>Theme Dark</ui-card-title>
        <ui-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur ea expedita facere modi mollitia
            nulla
            unde veritatis. Aliquam amet consectetur cupiditate et facilis in possimus qui similique temporibus veniam?
        </ui-card-content>
    </ui-card>
</div>
<div class="example3">
    <ui-toolbar>
        <button class="ui-button flat icon">
            <i class="material-icons">menu</i>
        </button>
        <img class="logo"
             src="http://smn.com.br/content/img/logotipo/light-lying.svg"
             alt="">
        <span class="title">Test</span>
        <div class="align-right">
            <button class="ui-button flat icon">
                <i class="material-icons">notifications</i>
                <span class="badge">1</span>
            </button>
        </div>
    </ui-toolbar>
</div>
<div class="example3">
    <ui-toolbar class="primary">
        <button class="ui-button flat icon">
            <i class="material-icons">menu</i>
        </button>
        <img class="logo"
             src="http://smn.com.br/content/img/logotipo/light-lying.svg"
             alt="">
        <span class="title">Test (.primary)</span>
        <div class="align-right">
            <button class="ui-button flat icon">
                <i class="material-icons">notifications</i>
                <span class="badge">2</span>
            </button>
        </div>
    </ui-toolbar>
</div>

<div class="example3">
    <ui-toolbar class="accent">
        <button class="ui-button flat icon">
            <i class="material-icons">menu</i>
        </button>
        <img class="logo"
             src="http://smn.com.br/content/img/logotipo/light-lying.svg"
             alt="">
        <span class="title">Test (.accent)</span>
        <div class="align-right">
            <button class="ui-button flat icon">
                <i class="material-icons">notifications</i>
                <span class="badge">3</span>
            </button>
        </div>
    </ui-toolbar>
</div>

<div class="example3">
    <ui-toolbar class="size-2x elevate-on-scroll">
        <button class="ui-button flat icon">
            <i class="material-icons">menu</i>
        </button>
        <img class="logo"
             src="http://smn.com.br/content/img/logotipo/light-lying.svg"
             alt="">
        <span class="title">Test (.size-2x .elevate-on-scroll)</span>
        <div class="align-right">
            <button class="ui-button flat icon">
                <i class="material-icons">notifications</i>
                <span class="badge">3</span>
            </button>
        </div>
    </ui-toolbar>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
