.ui-search-card .search-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ui-search-card .search-area input {
    flex: 1;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    width: 100%;
}
.ui-search-card .search-area button + button {
    margin-left: 5px;
}
.ui-search-card .search-area button:last-child {
    margin-right: 10px;
}
.ui-search-card .search-area .search-icon {
    display: flex;
    align-items: center;
    color: rgba(0,0,0,0.6);
    cursor: default;
}
.ui-search-card .division {
    border-top: 1px solid rgba(0,0,0,0.1);
    flex: 1 1 100%;
}