<header>
    <div>
        <div class="year" >{{chosenDate && chosenDate.getFullYear()}}</div>
        <div class="date">
            <span *ngIf="!chosenDate">Selecione uma data</span>
            <span *ngIf="chosenDate" ng-bind="$ctrl.choosenDate | date:'EEE, d \'de\' MMMM' | uiCapitalize">{{formatDate(chosenDate)}}</span>
        </div>
    </div>
</header>
<div class="content">
    <div class="controls">
        <button class="prev ui-button icon flat"
                (click)="prevMonth()"
                ng-if="!$ctrl.uiMinDate || $ctrl.calendar.days[0].time > $ctrl.uiMinDate.getTime()"
                tabindex="0"><i class="material-icons">keyboard_arrow_left</i></button>
        <button class="next ui-button icon flat"
                (click)="nextMonth()"
                ng-if="!$ctrl.uiMaxDate || $ctrl.calendar.days[$ctrl.calendar.days.length - 1].time < $ctrl.uiMaxDate.getTime()"
                tabindex="2"><i class="material-icons">keyboard_arrow_right</i></button>
    </div>
    <div class="calendar-cover">
        <div addCalendar></div>
    </div>
</div>
<div class="actions" *ngIf="confirmSelection">
    <button class="ui-button" (click)="cancel()">Cancelar</button>
    <button class="ui-button" (click)="selectDate(chosenDate)">Ok</button>
</div>
