<div class="item-wrap">
	<a [attr.link]="'true' ? !item.opcoesFilhas : 'false'" [ngClass]="{'has-submenu': item.opcoesFilhas}"
	(click)="item.opcoesFilhas ? openMenu() : openLink()">
		<i class="material-icons option-icon"
			[ngClass]="{'arrow-drop': item.opcoesFilhas}"
			*ngIf="item.opcoesFilhas">
			arrow_drop_down
		</i>
		{{item.nomeOpcao}}
	</a>
</div>
<ui-menu-list [style.height]="list && isOpened ? 'auto' : '0'" class="drawer-slide-vertical" [list]="list" [parent-level]="level"></ui-menu-list>