.ui-validate:not(.on-dirty):not(.on-submit) .ui-control.ng-invalid,
.ui-validate.on-dirty .ui-control.ng-dirty.ng-invalid,
.ui-validate.on-submit.ng-submitted .ui-control.ng-invalid {
    border-color: #F44336;
}
.ui-validate:not(.on-dirty):not(.on-submit) .ui-control.ng-invalid ~ label,
.ui-validate.on-dirty .ui-control.ng-dirty.ng-invalid ~ label,
.ui-validate.on-submit.ng-submitted .ui-control.ng-invalid ~ label,
.ui-error-message {
    color: #F44336;
}
.ui-validate:not(.on-dirty):not(.on-submit) .ui-control.ng-invalid ~ .line,
.ui-validate.on-dirty .ui-control.ng-dirty.ng-invalid ~ .line,
.ui-validate.on-submit.ng-submitted .ui-control.ng-invalid ~ .line {
    background-color: #F44336;
}