$sizes: 480 600 840 960 1280 1440 1600;

.ui-flex-container {
    display: flex;

    .center {
        align-items: center;
        justify-content: center;
    }

    .vertical-center {
        align-items: center;
    }

    .horizontal-center {
        justify-content: center;
    }

    ui-input-container,
    ui-switch-container,
    .ui-flex-container,
    .flex,
    ui-select {
        flex: 1;

        & + *:not(.no-pad):not(label) {
            margin-left: 16px;
        }
    }

    .ui-flex-container {
        width: 100%;
    }

    .ui-button {
        align-self: center;
    }
}

body:not(.ui-nav-drawer-persistent) .ui-flex-container {
    @each $size in $sizes {
        @media (max-width: #{$size}px) {
            &.break-on-s#{$size} {
                flex-direction: column;

                > ui-input-container,
                > ui-switch-container,
                > .ui-flex-container,
                > .flex,
                > ui-select {
                    & + * {
                        margin-left: initial;
                    }
                }
            }
        }
    }
}

body.ui-nav-drawer-persistent .ui-flex-container {
    @each $size in $sizes {
        @media (max-width: #{$size + 320}px) {
            &.break-on-s#{$size} {
                flex-direction: column;

                > ui-input-container,
                > ui-switch-container,
                > .ui-flex-container,
                > .flex,
                > ui-select {
                    & + * {
                        margin-left: initial;
                    }
                }
            }
        }
    }
}
