<ui-card class="light">
    <ui-card-title>Theme Light</ui-card-title>
    <ui-card-content>
        <div class="ui-button-container">
            <button class="ui-button" uiRipple>Default</button>
            <button class="ui-button primary" uiRipple>Primary</button>
            <button class="ui-button accent" uiRipple>Accent</button>
            <button class="ui-button success" uiRipple>Success</button>
            <button class="ui-button warning" uiRipple>Warning</button>
            <button class="ui-button error" uiRipple>Error</button>
            <button class="ui-button" uiRipple disabled>Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button raised" uiRipple>Raised</button>
            <button class="ui-button raised primary" uiRipple>Raised Primary</button>
            <button class="ui-button raised accent" uiRipple>Raised Accent</button>
            <button class="ui-button raised success" uiRipple>Raised Success</button>
            <button class="ui-button raised warning" uiRipple>Raised Warning</button>
            <button class="ui-button raised error" uiRipple>Raised Error</button>
            <button class="ui-button raised error" uiRipple disabled>Raised Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button flat" uiRipple>Flat</button>
            <button class="ui-button flat primary" uiRipple>Flat Primary</button>
            <button class="ui-button flat accent" uiRipple>Flat Accent</button>
            <button class="ui-button flat success" uiRipple>Flat Success</button>
            <button class="ui-button flat warning" uiRipple>Flat Warning</button>
            <button class="ui-button flat error" uiRipple>Flat Error</button>
            <button class="ui-button flat error" uiRipple disabled>Flat Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button full" uiRipple>Full</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button primary icon" uiRipple>
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary raised icon" uiRipple>
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary flat icon" uiRipple>
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary flat icon" uiRipple>
                <i class="material-icons">notifications</i>
                <span class="badge">1</span>
            </button>
            <button class="ui-button flat icon" uiRipple disabled>
                <i class="material-icons">delete</i>
            </button>
        </div>
    </ui-card-content>
</ui-card>

<ui-card class="dark">
    <ui-card-title>Theme Dark</ui-card-title>
    <ui-card-content>
        <div class="ui-button-container">
            <button class="ui-button" uiRipple>Default</button>
            <button class="ui-button primary" uiRipple>Primary</button>
            <button class="ui-button accent" uiRipple>Accent</button>
            <button class="ui-button success" uiRipple>Success</button>
            <button class="ui-button warning" uiRipple>Warning</button>
            <button class="ui-button error" uiRipple>Error</button>
            <button class="ui-button" uiRipple disabled>Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button raised" uiRipple>Raised</button>
            <button class="ui-button raised primary" uiRipple>Raised Primary</button>
            <button class="ui-button raised accent" uiRipple>Raised Accent</button>
            <button class="ui-button raised success" uiRipple>Raised Success</button>
            <button class="ui-button raised warning" uiRipple>Raised Warning</button>
            <button class="ui-button raised error" uiRipple>Raised Error</button>
            <button class="ui-button raised error" uiRipple disabled>Raised Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button flat" uiRipple>Flat</button>
            <button class="ui-button flat primary" uiRipple>Flat Primary</button>
            <button class="ui-button flat accent" uiRipple>Flat Accent</button>
            <button class="ui-button flat success" uiRipple>Flat Success</button>
            <button class="ui-button flat warning" uiRipple>Flat Warning</button>
            <button class="ui-button flat error" uiRipple>Flat Error</button>
            <button class="ui-button flat error" uiRipple disabled>Flat Disabled</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button full" uiRipple>Full</button>
        </div>
        <div class="ui-button-container">
            <button class="ui-button primary icon" uiRipple>
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary raised icon" uiRipple>
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary flat icon" uiRipple>
                <i class="material-icons">delete</i>
            </button>
            <button class="ui-button primary flat icon" uiRipple>
                <i class="material-icons">notifications</i>
                <span class="badge">1</span>
            </button>
            <button class="ui-button flat icon" uiRipple disabled>
                <i class="material-icons">delete</i>
            </button>
        </div>
    </ui-card-content>
</ui-card>


<div class="ui-fab-container">
    <button class="ui-button accent fab mini">
        <i class="material-icons">add</i>
    </button>
    <button class="ui-button primary fab">
        <i class="material-icons">add</i>
    </button>
</div>
