<form #formMasks (submit)="testSubmit(formMasks)" class="ui-validate on-dirty on-submit">
    <ui-card>
        <ui-card-content>
            <ui-input-container>
                <input type="text" name="date" [(ngModel)]="date" uiInput uiMaskDate required #teste="ngModel">
                <label>Date(uiMaskDate)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">{{date}}</div>
                </div>
            </ui-input-container>
            <pre>{{teste.errors | json}}</pre>
            <ui-input-container>
                <input type="text" name="time" [(ngModel)]="time" uiInput uiMaskTime required #timeField="ngModel">
                <label>Time(uiMaskTime)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">{{time}}</div>
                </div>
            </ui-input-container>
            <pre>{{timeField.errors | json}}</pre>
            <ui-input-container>
                <input type="text" name="cpf" [(ngModel)]="cpf" uiInput uiMaskCpf>
                <label>CPF(uiMaskCpf)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{cpf}}; View: {{cpf | uiCpf}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="cnpj" [(ngModel)]="cnpj" uiInput uiMaskCnpj>
                <label>CNPJ(uiMaskCnpj)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{cnpj}}; View: {{cnpj | uiCnpj}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="cep" [(ngModel)]="cep" uiInput uiMaskCep required #teste2="ngModel">
                <label>CEP(uiMaskCep)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{cep}}; View: {{cep | uiCep}}</div>
                </div>
            </ui-input-container>
            <pre>{{teste2.errors | json}}</pre>
            <ui-input-container>
                <input type="text" name="phone" [(ngModel)]="phone" uiInput uiMaskPhone>
                <label>Phone(uiMaskPhone)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{phone}}; View: {{phone | uiPhone}}</div>
                </div>
            </ui-input-container>
        </ui-card-content>
        <div class="ui-button-container cover">
            <button class="ui-button primary" uiRipple>Test Submit</button>
        </div>
    </ui-card>
</form>
