<form #formMasks (submit)="testSubmit(formMasks)" class="ui-validate on-dirty on-submit">
    <ui-card>
        <ui-card-content>
            <ui-input-container>
                <input type="text" name="currency" [(ngModel)]="currency" uiInput uiMaskCurrency required [noNegative]="false"
                    #currencyField="ngModel">
                <label>Currency(uiMaskCurrency)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">{{currency}}</div>
                </div>
            </ui-input-container>
            <pre>{{currencyField.errors | json}}</pre>
            <ui-input-container>
                <input type="text" name="date" [(ngModel)]="date" uiInput uiMaskDate required #teste="ngModel">
                <label>Date(uiMaskDate)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">{{date}}</div>
                </div>
            </ui-input-container>
            <pre>{{teste.errors | json}}</pre>
            <ui-input-container>
                <input type="text" name="time" [(ngModel)]="time" uiInput uiMaskTime required #timeField="ngModel"
                    [minTime]="'09:00'" [maxTime]="'09:30'">
                <label>Time(uiMaskTime)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">{{time}}</div>
                </div>
            </ui-input-container>
            <pre>{{timeField.errors | json}}</pre>

            <ui-input-container>
                <input type="text" name="timeCustom" [(ngModel)]="timeCustom" uiInput uiMaskTime [customTime]="true" required #customTimeField="ngModel">
                <label>Time(uiMaskTime - customTime)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">{{timeCustom}}</div>
                </div>
            </ui-input-container>
            <pre>{{customTimeField.errors | json}}</pre>

            <ui-input-container>
                <input type="text" name="cpf" [(ngModel)]="testeCpf.cpf" uiInput uiMaskCpf #cpfField="ngModel">
                <label>CPF(uiMaskCpf)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{testeCpf.cpf | json}}; View: {{testeCpf.cpf | uiCpf}}</div>
                </div>
            </ui-input-container>
            <pre>{{testeCpf | json}}</pre>
            <pre>{{cpfField.errors | json}}</pre>

            <ui-input-container>
                <input type="text" name="truecpf" [(ngModel)]="truecpf" uiInput [uiMaskCpf]="true">
                <label>CPF(uiMaskCpf)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{truecpf}}; View: {{truecpf | uiCpf}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="padcpf" [(ngModel)]="padcpf" uiInput [uiMaskCpf]="true" [padOnPaste]="false">
                <label>CPF(uiMaskCpf) - sem padding ao colar valor</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{truecpf}}; View: {{truecpf | uiCpf}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="cnpj" [(ngModel)]="cnpj" uiInput uiMaskCnpj>
                <label>CNPJ(uiMaskCnpj)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{cnpj}}; View: {{cnpj | uiCnpj}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="truecnpj" [(ngModel)]="truecnpj" uiInput [uiMaskCnpj]="true">
                <label>CNPJ(uiMaskCnpj)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{truecnpj}}; View: {{truecnpj | uiCnpj}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="padcnpj" [(ngModel)]="padcnpj" uiInput [uiMaskCnpj]="true" [padOnPaste]="false">
                <label>CNPJ(uiMaskCnpj) - sem padding ao colar valor</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{padcnpj}}; View: {{padcnpj | uiCnpj}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="cep" [(ngModel)]="cep" uiInput uiMaskCep required #teste2="ngModel">
                <label>CEP(uiMaskCep)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{cep}}; View: {{cep | uiCep}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="cepNovo" [(ngModel)]="cepNovo" uiInput uiMaskCepNovo required #teste2="ngModel">
                <label>CEP(uiMaskCepNovo)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{cepNovo}}; View: {{cepNovo | uiCepNovo}}</div>
                </div>
            </ui-input-container>
            <pre>{{teste2.errors | json}}</pre>
            <ui-input-container>
                <input type="text" name="phone" [(ngModel)]="phone" uiInput uiMaskPhone>
                <label>Phone(uiMaskPhone)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{phone}}; View: {{phone | uiPhone}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="phoneInter" [(ngModel)]="phonei" uiInput uiMaskPhone="ddi">
                <label>Internacional Phone(uiMaskPhone)</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{phonei}}; View: {{phonei | uiPhone: 'ddi'}}</div>
                </div>
            </ui-input-container>
            <ui-input-container>
                <input type="text" name="integer" [(ngModel)]="integer" uiInput uiMaskInteger [max]="2018">
                <label>Integer</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{integer}}; View: {{integer}}</div>
                </div>
            </ui-input-container>

            <ui-input-container>
                <input type="text" name="float" [(ngModel)]="float" uiInput uiMaskFloat="4">
                <label>Float</label>
                <div class="ui-messages">
                    <div class="ui-message helper">Model: {{float}}; View: {{float}}</div>
                </div>
            </ui-input-container>
        </ui-card-content>
        <div class="ui-button-container cover">
            <button class="ui-button primary" uiRipple>Test Submit</button>
        </div>
    </ui-card>
</form>
