<ui-card-content>
    <div class="ui-button-container">
        <button class="ui-button raised primary" (click)="openDrawer()">Open Current Drawer</button>
        <button class="ui-button raised primary" (click)="closeDrawer()">Close Current Drawer</button>
        <button class="ui-button raised primary" (click)="openDrawerNormal()">Open Normal Drawer</button>
        <button class="ui-button raised primary" (click)="openDrawerPersistent()">Open Persistent Drawer</button>
    </div>
</ui-card-content>
