<div class="ui-button-container">
    <button class="ui-button raised accent" [uiBottomSheetTrigger]="listBottomSheet" uiRipple>Open with list</button>
    <button class="ui-button raised accent" [uiBottomSheetTrigger]="headerBottomSheet" uiRipple>Open with header</button>
    <button class="ui-button raised accent" [uiBottomSheetTrigger]="listBottomSheet" uiRipple transparent-overlay="true">
        Open with Transparent Overlay
    </button>
</div>

<ui-bottom-sheet #listBottomSheet card-size="480">
    <ul class="ui-list" (click)="listBottomSheet.close()">
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">share</i>
            </div>
            Share
        </li>
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">cloud_upload</i>
            </div>
            Upload
        </li>
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">content_copy</i>
            </div>
            Copy
        </li>
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">print</i>
            </div>
            Print this page
        </li>
    </ul>
</ui-bottom-sheet>

<ui-bottom-sheet #headerBottomSheet card-size="480" theme-dark="">
    <h2 class="header">Create</h2>
    <ul class="ui-list" (click)="headerBottomSheet.close()">
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">share</i>
            </div>
            Share
        </li>
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">cloud_upload</i>
            </div>
            Upload
        </li>
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">cloud_upload</i>
            </div>
            Upload
        </li>
        <li class="ui-divider"></li>
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">cloud_upload</i>
            </div>
            Upload
        </li>
        <li uiRipple>
            <div class="icon">
                <i class="material-icons">cloud_upload</i>
            </div>
            Upload
        </li>
    </ul>

</ui-bottom-sheet>
