<div class="light">
    <ui-card>
        <ui-card-title>Card with Subheader</ui-card-title>
        <ui-card-content>
            Lorem ipsum
            <ui-subheader>Test</ui-subheader>
            Dolor sit amet
            <ui-subheader class="primary">Test (.primary)</ui-subheader>
            Lorem ipsum
        </ui-card-content>
    </ui-card>
</div>

<div class="dark">
    <ui-card>
        <ui-card-title>Card with Subheader (dark)</ui-card-title>
        <ui-card-content>
            Lorem ipsum
            <ui-subheader>Test</ui-subheader>
            Dolor sit amet
            <ui-subheader class="primary">Test (.primary)</ui-subheader>
            Lorem ipsum
        </ui-card-content>
    </ui-card>
</div>
