ui-floating-card {
	display: flex;
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
	padding: 15px;
	background-color: rgba(0,0,0,0.2);
}
	ui-floating-card-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	ui-floating-card-content {
		margin: auto;
		display: block;
		max-width: 100%;
	}
	ui-floating-card.ng-enter {
		overflow: hidden;
		background-color: transparent;
		transition: 300ms ease-in-out;
	}
		ui-floating-card.ng-enter-active {
			background-color: rgba(0,0,0,0.2);
		}
	ui-floating-card.ng-enter ui-card {
		transform: translateY(100vw);
		transition: 200ms ease-in-out;
	}
		ui-floating-card.ng-enter-active ui-card {
			transform: translateY(0);
		}
	ui-floating-card.ng-leave {
		overflow: hidden;
		background-color: rgba(0,0,0,0.2);
		transition: 200ms ease-in-out;
	}
		ui-floating-card.ng-leave-active {
			background-color: transparent;
		}
	ui-floating-card.ng-leave ui-card {
		transform: translateY(0);
		transition: 200ms ease-in-out;
	}
		ui-floating-card.ng-leave-active ui-card {
			transform: translateY(100vw);
		}
	ui-floating-card ui-card-wrap {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}