<ui-card>
    <ui-expansion-panel>
        <ui-expansion-panel-label>
            Ui Expansion Panel
        </ui-expansion-panel-label>
        <ui-expansion-panel-content>
            <ui-card-content>
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
            </ui-card-content>
        </ui-expansion-panel-content>
    </ui-expansion-panel>
</ui-card>

<ui-card>
    <ui-expansion-panel [noArrow]="true">
        <ui-expansion-panel-label>
            Ui Expansion Panel
        </ui-expansion-panel-label>
        <ui-expansion-panel-description>
            Panel with no arrow
        </ui-expansion-panel-description>
        <ui-expansion-panel-content>
            <ui-card-content>
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                <ui-input-container>
                    <input type="text" name="cnpj" uiInput uiMaskCnpj>
                </ui-input-container>
            </ui-card-content>
        </ui-expansion-panel-content>
    </ui-expansion-panel>
</ui-card>

<ui-card>
    <ui-expansion-panel [disabled]='true'>
        <ui-expansion-panel-label>
            Ui Expansion Panel [Disabled]
        </ui-expansion-panel-label>
        <ui-expansion-panel-description>
            A Sample Description About Panel Man
        </ui-expansion-panel-description>
        <ui-expansion-panel-content>
            <ui-card-content>
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                A sample, but smart demo content<br />
                Mário ipsum, dolor sit, qué outra?<br />
            </ui-card-content>
        </ui-expansion-panel-content>
    </ui-expansion-panel>
</ui-card>