<ui-card>
    <ui-expansion-panel>
        <ui-expansion-panel-label>
            Ui Expansion Panel
        </ui-expansion-panel-label>
        <ui-expansion-panel-content>
            <ui-card-content>
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
            </ui-card-content>
        </ui-expansion-panel-content>
    </ui-expansion-panel>
</ui-card>

<ui-card>
    <ui-expansion-panel>
        <ui-expansion-panel-label>
            Ui Expansion Panel
        </ui-expansion-panel-label>
        <ui-expansion-panel-description>
            A Sample Description About Panel Man
        </ui-expansion-panel-description>
        <ui-expansion-panel-content>
            <ui-card-content>
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
            </ui-card-content>
        </ui-expansion-panel-content>
    </ui-expansion-panel>
</ui-card>

<ui-card>
    <ui-expansion-panel [disabled]='true'>
        <ui-expansion-panel-label>
            Ui Expansion Panel [Disabled]
        </ui-expansion-panel-label>
        <ui-expansion-panel-description>
            A Sample Description About Panel Man
        </ui-expansion-panel-description>
        <ui-expansion-panel-content>
            <ui-card-content>
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
                Conteúdo desse teste haha<br />
            </ui-card-content>
        </ui-expansion-panel-content>
    </ui-expansion-panel>
</ui-card>