@if $theme == 'dark' {
  $primary-text-color: rgba(255, 255, 255, 1);
  $secondary-text-color: rgba(255, 255, 255, 0.70);
  $disabled-text-color: rgba(255, 255, 255, 0.50);
  $hint-text-color: $disabled-text-color;
} @else {
  $primary-text-color: rgba(0, 0, 0, 0.87);
  $secondary-text-color: rgba(0, 0, 0, 0.54);
  $disabled-text-color: rgba(0, 0, 0, 0.38);
  $hint-text-color: $disabled-text-color;
}

$primary-color: ui-color($theme-primary-color);
$secondary-color: ui-color($theme-secondary-color);

.teste {
    transition: all 2s ui-easing();
}
