<ui-card class="ui-s960">
    <ui-card-content>
        <ui-label-content label="Name" content="Jhon Doe"></ui-label-content>
    </ui-card-content>
    <div class="ui-grid spacing">
        <ui-label-content class="xsmall-4 small-2 medium-3"
                          label="First name"
                          content="Jhon"></ui-label-content>

        <ui-label-content class="xsmall-4 small-2 medium-3"
                          label="Last name"
                          content="Doe"></ui-label-content>

        <ui-label-content class="xsmall-4 small-2 medium-3"
                          label="Age"
                          content="26"></ui-label-content>

        <ui-label-content class="xsmall-4 small-2 medium-3"
                          label="City"
                          content="São Paulo"></ui-label-content>
    </div>
</ui-card>
