@import "../core/variables";

@mixin sizes($width) {
    @each $item in 2 3 4 5 6 7 {
        &.size-#{$item}x {
            min-width: #{$width * $item}px;
        }
    }
}

.wrap-menu {
    position: absolute;
    transition: transform 280ms ui-easing('aceleration'), opacity 280ms ui-easing('aceleration');
    transform-origin: top left;
    transform: scale(0);
    opacity: 0;
    z-index: 5;

    &.right {
        transform-origin: top right;
    }

    &.top {
        transform-origin: top;
    }

    &.open {
        transition: transform 280ms ui-easing('deceleration'), opacity 280ms ui-easing('deceleration');
        transform: scale(1);
        opacity: 1;
    }

    ui-card {
        box-shadow: ui-shadow('8dp');
        overflow-y: auto;
    }

    .ui-menu-title {
        font-size: 14px;
        font-weight: 500;
        padding: 8px 24px;
    }

    .ui-menu-content {
        padding: 8px 0;
        min-width: 56px;

        @include sizes(56);

        @include desktop {
            @include sizes(64);
        }
    }

    .ui-menu-item {
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
        white-space: nowrap;
        &:not(a) {
            cursor: default;
        }
        user-select: none;
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none;

        .icon {
            margin-right: 14px;
            margin-left: -4px;
        }

        @include desktop {
            height: 32px;
            line-height: 32px;
            font-size: 15px;
            padding: 0 24px;
        }
    }

    ui-subheader {
        color: inherit;
        padding: 0 16px;

        @include desktop {
            min-height: 32px;
            padding: 0 24px;
        }
    }
}

body.ui-nav-drawer-persistent .wrap-menu {
    z-index: 6;
}
