<ui-card style="margin: 16px">
    <ui-card-title>Grid system</ui-card-title>
    <ui-data-table>
        <tr>
            <th>Classe</th>
            <th>Colunas</th>
            <th>Breakpoint</th>
            <th>Margin</th>
        </tr>
        <tr class="disabled">
            <td>xsmall-(colunas)</td>
            <td>4</td>
            <td>0px</td>
            <td>16px</td>
        </tr>
        <tr class="disabled">
            <td>small-(colunas)</td>
            <td>8</td>
            <td>600px</td>
            <td>16px</td>
        </tr>
        <tr class="disabled">
            <td>medium-(colunas)</td>
            <td>12</td>
            <td>960px</td>
            <td>16px</td>
        </tr>
        <tr class="disabled">
            <td>large-(colunas)</td>
            <td>12</td>
            <td>1140px</td>
            <td>24px</td>
        </tr>
        <tfoot></tfoot>
        <ui-card-title>Spacing system</ui-card-title>
        <ui-card-content>
            <ui-option>
                <input type="checkbox" [(ngModel)]="spacing">
                <span>.ui-grid .spacing ({{spacing ? 'Sim' : 'Não'}})</span>
            </ui-option>
        </ui-card-content>
    </ui-data-table>
</ui-card>
<div class="ui-grid" [class.spacing]="spacing">
    <ui-card class="xsmall-4 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-4 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-1 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-1 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-1 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-1 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-1 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-1 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-1 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-1 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
    <ui-card class="xsmall-2 small-2 medium-4 large-3">
        <ui-card-content>.xsmall-2 .small-2 .medium-4 .large-3</ui-card-content>
    </ui-card>
</div>
