<div class="ui-s600">
    <ui-card class="elevate-on-toolbar">
        <ui-card-title>Upload Light</ui-card-title>
        <ui-card-subtitle>Componente de upload de um ou múltiplos arquivos.</ui-card-subtitle>
        <ui-card-content>
            <ui-upload
                [(ngModel)]="files"
                name="upload"
                [max]="5"
                [multiple]="false"
                (ngModelChange)="file()"
                accept="png, zip"
                [maxSize]="'200MB'"
                [maxFileSize]="'5MB'"></ui-upload>
        </ui-card-content>
    </ui-card>
    
    
    <div class="dark" style="margin-top: 16px">
        <ui-card class="elevate-on-toolbar">
            <ui-card-title>Upload Dark</ui-card-title>
            <ui-card-subtitle>Componente de upload de um ou múltiplos arquivos.</ui-card-subtitle>
            <ui-card-content>
                <div class="dark">
                    <ui-upload
                        [(ngModel)]="files"
                        name="upload"
                        [max]="5"
                        [multiple]="true"
                        (ngModelChange)="file()"
                        accept="png, zip"
                        [maxSize]="'200MB'"
                        [maxFileSize]="'5MB'"></ui-upload>
                </div>
            </ui-card-content>
        </ui-card>
    </div>
</div>

