.ui-table {
    overflow: auto;
    text-align: left;
}
.ui-table.hover-line tr,
.ui-table .hover-line tr,
.ui-table tr.hover-line {
    transition: 100ms ease-in-out;
}
.ui-table tr.ng-enter,
.ui-table tr.ng-leave {
    transition: none;
}
.ui-table.hover-line tr:hover,
.ui-table .hover-line tr:hover,
.ui-table tr.hover-line:hover {
    background-color: #EEE;
}
.ui-table.pointer-line tr,
.ui-table .pointer-line tr,
.ui-table tr.pointer-line {
    cursor: pointer;
}
.ui-table .table-header {
    height: 64px;
}
.ui-table table {
    width: 100%;
    border-spacing: 0;
}
.ui-table thead tr,
.ui-table tfoot tr {
    height: 56px;
}
.ui-table tbody tr {
    height: 48px;
}
.ui-table tr > * {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ui-table th {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
}
.ui-table td {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}
.ui-table th,
.ui-table td {
    padding-top: 4px;
    padding-right: 56px;
    padding-bottom: 4px;
}
.ui-table th:first-child,
.ui-table td:first-child {
    padding-left: 24px;
}
.ui-table th:last-child,
.ui-table td:last-child,
.ui-table .pad-24 {
    padding-right: 24px;
}
.ui-table .numeric,
.ui-table .actions {
    text-align: right;
}
.ui-table .actions {
    white-space: nowrap;
}
.ui-table .text {
    text-align: left;
}
.ui-table .single-line {
    white-space: nowrap;
}
.ui-table .icon {
    color: rgba(0,0,0,0.54);
    display: inline-flex;
    align-items: center;
}
.ui-table .icon + .icon,
.ui-table .icon + .action,
.ui-table .action + .icon,
.ui-table .action + .action {
    margin-left: 8px;
}
.ui-table .action {
    position: relative;
    color: rgba(0,0,0,0.54);
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 200ms ease-in-out;
}
.ui-table .action::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    display: block;
    transition: 200ms ease-in-out;
}
.ui-table .action:focus::before {
    opacity: 0.1;
}
.ui-table .action:active::before {
    opacity: 0.2;
}
.ui-table .action:hover {
    color: rgba(0,0,0,0.8);
}

/* Data table */
.ui-table .card-header {
    padding: 0 14px 0 24px;
    height: 64px;
    display: flex;
    align-items: center;
}
.ui-table .card-header .title {
    flex: 1;
    font-size: 20px;
}
.ui-table .card-action {
    position: relative;
    background: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: rgba(0,0,0,.54);
}
.ui-table .card-action::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    display: block;
    transition: 200ms ease-in-out;
}
.ui-table .card-action:focus::before,
.ui-table .card-action:active::before{
    opacity: .12;
}
.ui-table .card-action + .card-action {
    margin-left: 24px;
}
ui-card .card-header .search-area {
    display: flex;
    position: relative;
    display: flex;
    height: 24px;
}
ui-card .card-header .search-area input {
    font-family: 'Roboto', sans-serif;
    flex: 1 1 0;
    width: 0;
    display: block;
    background: none;
    border-bottom: 1px solid rgba(0,0,0,.3);
    transition: 300ms ease-in-out;
}
ui-card .card-header .search-area .open-search {
    flex: 0 0 auto;
}
ui-card .card-header .search-area .close-search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease-in-out;
}
ui-card .card-header .search-area.open input {
    flex: 1 1 auto;
    width: 200px;
    padding-right: 28px;
    margin-left: 4px;
}
ui-card .card-header .search-area.open .close-search {
    opacity: 1;
    visibility: visible;
}