@import '../core/variables';

@mixin ui-toolbar($theme) {
    ui-toolbar {
        &.primary {
            header {
                background-color: map_get($theme, primary-color);
                color: ui-text-color(map_get($theme, primary), map_get($theme, primary-hue));

                .logo ~ .title {
                    border-left: 1px solid ui-text-color(map_get($theme, primary), map_get($theme, primary-hue), 0.3);
                    @include mobile {
                        border-left: none;
                    }
                }

                .ui-button {
                    &:not(.success):not(.warning):not(.error):not(:disabled) .ui-ripple-wave {
                        background-color: ui-text-color(map_get($theme, primary), map_get($theme, primary-hue), 0.1);
                    }

                    .badge {
                        background-color: map_get($theme, accent-color);
                        color: ui-text-color(map_get($theme, accent), map_get($theme, accent-hue));
                    }
                }
            }
        }
        &.accent {
            header {
                background-color: map_get($theme, accent-color);
                color: ui-text-color(map_get($theme, accent), map_get($theme, accent-hue));

                .logo ~ .title {
                    border-left: 1px solid ui-text-color(map_get($theme, accent), map_get($theme, accent-hue), 0.3);
                    @include mobile {
                        border-left: none;
                    }
                }

                .ui-button {
                    &:not(.success):not(.warning):not(.error):not(:disabled) .ui-ripple-wave {
                        background-color: ui-text-color(map_get($theme, accent), map_get($theme, accent-hue), 0.1);
                    }

                    .badge {
                        background-color: map_get($theme, primary-color);
                        color: ui-text-color(map_get($theme, primary), map_get($theme, primary-hue));
                    }
                }
            }
        }
        &.transparent:not(.scrolled) {
            .logo ~ .title {
                border-left: 1px solid rgba(white, 0.3);
                @include mobile {
                    border-left: none;
                }
            }

            header {
                color: white;
            }
        }
    }

    header .ui-button:not(.success):not(.warning):not(.error):not(:disabled).flat {
        color: inherit;

        i {
            color: inherit;
        }
    }
}
