/* You can add global styles to this file, and also import other style files */
//@import "~ng-smn-ui/variables.min.scss";
$theme-primary-color: 'teal';
$theme-secondary-color: 'teal';
$theme: 'dark';

