@import "../core/variables";

@keyframes open {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

ui-clock {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    z-index: 0;

    header {
        padding: 16px;
        min-height: 72px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .year {
            font-size: 14px;
            opacity: .8;
            font-weight: 400;
        }

        .time-empty {
            font-size: 18px;
            font-weight: 500;
        }

        .time {
            margin-top: 8px;
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            cursor: default;
        }
    }

    .actions {
        padding: 8px;
        text-align: right;
        cursor: default;
    }

    .content {
        position: relative;

        .clock-cover {
            overflow: hidden;
            transition: 300ms ease-in-out;
            margin: 8px 24px;

            .clock-wrap {
                border-radius: 50%;
                width: 250px;
                height: 250px;
                position: relative;

                > div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 4px;
                    height: 4px;
                    margin: auto;
                    border-radius: 50%;
                }
            }

            .hour, .minute {
                position: absolute;
                top: 8px;
                left: 0;
                right: 0;
                bottom: 8px;
                width: 36px;
                margin: 0 auto;
                pointer-events: none;

                &:nth-child(n+13) {
                    top: 40px;
                    bottom: 40px;
                }

                .ui-button {
                    pointer-events: auto;

                    &::before {
                        transform: scale(1);
                    }
                }
            }
        }

        .controls {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;

            button {
                position: absolute;
                top: 0;
                margin: 8px;
            }

            .prev {
                left: 0;
            }

            .next {
                right: 0;
            }
        }
    }

    @media (min-width: 600px), (min-width: 496px) and (orientation: landscape) {
        &:not(.portrait-only) {
            flex-direction: row;

            header {
                width: 168px;

                .week-day {
                    display: block;
                }
            }
        }
    }

}
