*, *::before, *::after {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}
*::-webkit-scrollbar-track {
    background: rgba(255,255,255,.9);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.4);
}
html {
    font-family: 'Roboto';
    background-color: #FAFAFA;
    word-wrap: break-word;
}
html, body {
    height: 100%;
}
img, svg {
    max-width: 100%;
}
p {
    margin: 20px 0;
}
input,
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
:link {
    color: #2196F3;
    text-decoration: none;
}
:link:hover {
    text-decoration: underline;
}
:visited {
    color: #1E88E5;
}