.ui-hero-pic {
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: black;
}
.ui-hero-pic img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.ui-hero-pic .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}
.ui-hero-pic .foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ui-hero-pic .shadow::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
}
.ui-hero-pic .shadow.bottom::before {
    top: initial;
    bottom: 0;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
}
.ui-hero-pic .ui-only-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-size: 80px;
}
.ui-hero-pic .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 8px;
}
.ui-hero-pic .toolbar button {
    position: absolute;
    top: 8px;
    left: 8px;
}
.ui-hero-pic .toolbar .right {
    left: initial;
    right: 8px;
}
.ui-hero-pic .toolbar button.ng-enter {
    transform: scale(0);
    transition: none;
}
.ui-hero-pic .toolbar button.ng-leave {
    transform: scale(0);
}
