<div class="light">
    <ui-card>
        <ui-card-content>
            <span>Determinate (.primary)</span>
            <div class="ui-progress primary">
                <div class="determinate" style="width: 75%"></div>
            </div>
            <br>
            <span>Indeterminate</span>
            <div class="ui-progress">
                <div class="indeterminate"></div>
            </div>
        </ui-card-content>
    </ui-card>
</div>

<div class="dark">
    <ui-card>
        <ui-card-content>
            <span>Determinate (.accent)</span>
            <div class="ui-progress accent">
                <div class="determinate" style="width: 25%"></div>
            </div>
            <br>
            <span>Indeterminate</span>
            <div class="ui-progress">
                <div class="indeterminate"></div>
            </div>
        </ui-card-content>
    </ui-card>
</div>
