<div class="light">
    <ui-card>
        <ui-card-content>
            <span>Linear Determinate (.primary)</span>
            <div class="ui-progress primary">
                <div class="determinate" style="width: 75%"></div>
            </div>
            <br>
            <span>Linear Indeterminate</span>
            <div class="ui-progress">
                <div class="indeterminate"></div>
            </div>
            <br>
            <span>Radial Indeterminate</span>
            <ui-progress-radial class="indeterminate"></ui-progress-radial>
        </ui-card-content>
    </ui-card>
</div>

<div class="dark">
    <ui-card>
        <ui-card-content>
            <span>Linear Determinate (.accent)</span>
            <div class="ui-progress accent">
                <div class="determinate" style="width: 25%"></div>
            </div>
            <br>
            <span>Linear Indeterminate</span>
            <div class="ui-progress">
                <div class="indeterminate"></div>
            </div>
        </ui-card-content>
    </ui-card>
</div>
